<div class="container">
  <div class="nav-bar">
    <div class="books-index">
      <a mat-button [matMenuTriggerFor]="tools">Angular</a>
      <a routerLink="/cssGridExample0">CSS Grid 0</a>
      <a routerLink="/cssGridExample1">CSS Grid 1</a>
      <a routerLink="/cssGridExample2">CSS Grid 2</a>
      <a>CSS Grid 4</a>
      <a>CSS Grid 5</a>
      <div class="float-right">
        <a routerLink="/">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/contact">Contact</a>
      </div>
      <!--------Modules------------------------------------------------->
      <mat-menu #tools="matMenu">
        <a mat-menu-item>
          <a class="nav-link" routerLink="/notes">Notes</a>
        </a>
        <a mat-menu-item>
          <a class="nav-link" routerLink="/todo">ToDo Lists</a>
        </a>
        <a mat-menu-item>
          <a class="nav-link" routerLink="/lazyLoading">Lazy Loading</a>
        </a>
        <a mat-menu-item>
          <a class="nav-link" routerLink="/pipes">Pipes</a>
        </a>
        <a mat-menu-item>
          <a class="nav-link" routerLink="/apiServer">Server and API routes</a>
        </a>
        <a mat-menu-item>
          <a class="nav-link" routerLink="/localSessionStorage">Local & Session Storage</a>
        </a>
        <a mat-menu-item>
          <a class="nav-link" routerLink="/cssGridLayout">CSS Grid Layout</a>
        </a>
      </mat-menu>
    </div>
    <hr>
  <div class="footer">
    <div class="d-flex">
      <p>&copy; Copy Right - 11/2019</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
