<mat-card class="mat-elevation-z8">
  <mat-card-title><code>Unit Test Notes</code></mat-card-title>
  <mat-card-content>
    <code>
      <h6>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Industry Carousel Example</code></mat-card-title>
            <hr>
            <h4><b>HTML</b></h4>
            <hr>
            <img src="../../../assets/images/unit_test_input_decoration_testHost_html.PNG">
          </mat-card>
        </div>
        <br>
        <div class="container">
          <mat-card>
            <h4><b>Component</b></h4>
            <hr>
            <img src="../../../assets/images/unit_test_component_0.PNG">
            <br> <br>
            <img src="../../../assets/images/unit_test_component_1.PNG">
            <br> <br>
            <img src="../../../assets/images/unit_test_component_2.PNG">
            <br> <br>
            <img src="../../../assets/images/unit_test_component_3.PNG">
            <br> <br>
          </mat-card>
        </div>
        <br>
        <div class="container">
          <mat-card>
            <h4><b>Component Spec</b></h4>
            <hr>
            <img src="../../../assets/images/unit_test_input_decoration_testHost_0.PNG">
            <br> <br>
            <img src="../../../assets/images/unit_test_input_decoration_testHost.PNG">
            <br> <br>
            <img src="../../../assets/images/unit_test_input_decoration_testHost_1.PNG">
            <br> <br>
            <img src="../../../assets/images/unit_test_input_decoration_testHost_2.PNG">
            <br> <br>
            <img src="../../../assets/images/unit_test_input_decoration_testHost_3.PNG">
            <br> <br>
            <img src="../../../assets/images/unit_test_input_decoration_testHost_4.PNG">
          </mat-card>
        </div>
      </h6>
    </code>
  </mat-card-content>
</mat-card>
