<mat-card class="mat-elevation-z8">
  <mat-card-title><code>Angular Notes</code></mat-card-title>
  <hr>
  <mat-card-content>
    <code><h4>Promises VS Observables</h4></code> <br>
    <code>
      <h6>Promises: <br>
        - Prepresent a single value in the future
      </h6>
    </code>
    <code>
      <h6>Observables: <br>
        - Pepresent O or more values now or in the future. <br>
        - Can be Synchronous. <br>
        - Improved Error Handling. <br>
        - Can be Closed Independently of Returning a Value. <br>
        - Can deal with time. <br>
        - Advanced operations. <br>
          - Mathmetical Aggregation <br>
          - Buffering <br>
          - Debounce <br>
          - Distinct <br>
          - Filtering <br>
          - Combining Observables <br>
          - Retry
      </h6>
    </code>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z8">
  <mat-card-title><code>Git</code></mat-card-title>
  <hr>
  <mat-card-content>
    <code>
      <h4>Git Command</h4>
    </code>
    <code>
      <h6>
        - Git status <br>
        - Git checkout -b <br>
        - git checkout 'branch-name' <br>
        - Git add -A <br>
        - Git commit -m "message" <br>
        - Git push origin 'branch-name'
      </h6>
    </code>
    <hr>
    <code>
      <h4>Git Best Pratice</h4>
    </code>
    <code>
      <h6>
        - Cemal case naming convention.
      </h6>
    </code>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z8">
  <mat-card-title><code>Npm Command</code></mat-card-title>
  <hr>
  <mat-card-content>
    <code>
      <h6>
        - Npm start
      </h6>
    </code>
  </mat-card-content>
</mat-card>
