<a routerLink="/cssGridLayout">home</a> <br>
<a routerLink="/cssGridExample0">cssGridExample0</a> <br>
<a routerLink="/cssGridExample1">cssGridExample1</a> <br>
<a routerLink="/cssGridExample2">cssGridExample2</a>
<div class="container">
  <div class="header">
    <ul>
      <a>contact</a>
      <a>about</a>
      <a>home</a>
    </ul>
  </div>
  <div class="small-box-1">box 1</div>
  <div class="small-box-2">box 2</div>
  <div class="small-box-3">box 3</div>
  <div class="main-content">main content</div>
  <div class="side-bar">side bar</div>
  <div class="footer">footer</div>
</div>

