.container {
  // max-width: 80%;
  // margin: 30px auto;

  display: grid;

  grid-template-rows: 1fr 200px 400px 1fr;
  grid-template-columns: repeat(3, 1fr) 200px;

  grid-gap: 10px;

  //grid by areas

  // grid-template-areas: "head head head head"
  //                       "box box box side"
  //                       "main main main side"
  //                       "foot foot foot foot";

  // .header {
  //   grid-area: head;
  // }

  // .main-content {
  //   grid-area: main;
  // }

  // .side-bar {
  //   grid-area: side;
  // }

  // .footer {
  //   grid-area: foot;
  // }

  a {
    padding: 20px;
    float: right;
  }

  // grid by numbers
  .header {
    grid-column: 1 / -1;
  }

  .side-bar {
    grid-column: 4 / 5;
    grid-row: 2 / span 2;
  }

  .main-content {
    grid-column: 1 / span 3;
  }

  .footer {
    grid-column: 1 / -1;
  }

  // select all the direct childrens of container
  & > * {
    background-color: lightslategrey;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
}
