.body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  margin-bottom: 60px;

  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 45px;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  
    // animation-delay: 1s;
    // animation-iteration-count: 3;
  }

  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
  
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: .2rem;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}