.body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  margin-bottom: 60px;

  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 45px;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  
    // animation-delay: 1s;
    // animation-iteration-count: 3;
  }

  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
  
    animation: moveInRight 1s ease-out;
  }
}   