@import "scss/abstracts/functions";
@import "scss/abstracts/maxins";
@import "scss/abstracts/variables";

@import "scss/base/base";
@import "scss/base/animations";
@import "scss/base/typography";
@import "scss/base/utilities";

@import "scss/pages/home";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;

  .header {
    height: 95vh;
    background-image: linear-gradient(to bottom, rgba($color-primary, 0), rgba($color-primary-dark, 0.8)), url(./images/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    .logo-box {
      position: absolute;
      top: 40px;
      left: 40px;

      .logo {
        height: 3.5rem;
      }      
    }

    .text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; 

      .heading-primary {
        color: $color-white;
        text-transform: uppercase;

        margin-bottom: 60px;

        .heading-primary-main {
          display: block;
          font-size: 60px;
          font-weight: 300;
          letter-spacing: 45px;
        
          animation-name: moveInLeft;
          animation-duration: 1s;
          animation-timing-function: ease-out;
        
          // animation-delay: 1s;
          // animation-iteration-count: 3;
        }

        .heading-primary-sub {
          display: block;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 17.4px;
        
          animation: moveInRight 1s ease-out;
        }
      }

      .btn {
        // :link is psuedo class, special state of selector 
        &:link,
        &:visited {
          text-transform: uppercase;
          text-decoration: none;
          padding: 15px 40px;
          display: inline-block;
          border-radius: 60px;
          transition: all .2s;
          position: relative;
        }

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 20px rgba($color-black, .2);
        }

        &:active {
          transform: translateY(-1px);
          box-shadow: 0 5px 10px rgba($color-black, .2);
        }

        &-white {
          background-color: $color-white;
          color: $color-grey-dark;
        }

        &::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 100px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s;
        }

        &-white::after {
          background-color: $color-white;
        }
        
        &:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
        
        &-animated {
          animation: moveInBottom .5s ease-out .75s;
          animation-fill-mode: backwards;
        } 
      }
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
