<!-- <mat-toolbar color="primary">
  <span>Application Title</span>

  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" routerLink="">Brand</a> -->

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/bookOfFlame">Book Of Flame</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"routerLink="/bookOfWater">Book Of Water</a>
      </li>
    </ul>
  </div>
</nav>
