<a routerLink="/cssGridLayout">home</a> <br>
<a routerLink="/cssGridExample0">cssGridExample0</a> <br>
<a routerLink="/cssGridExample1">cssGridExample1</a> <br>
<a routerLink="/cssGridExample2">cssGridExample2</a>

<div class="container">
  <div class="header">
    <div class="home">Home</div>
    <div class="contact">Contact</div>
    <div class="about">About</div>
  </div>
  <div class="side-bar">side bar</div>
  <div class="main-content">Main Content</div>
  <div class="footer">Footer</div>
</div>
