<mat-card  class="mat-elevation-z8">
  <mat-card-title><code>Lazy Loading Notes</code></mat-card-title>
  <mat-card-content>
    <pre>
      <code>
        - Export: [RouterModule] for router-outlet. <br>
        - pro:
      </code>
    </pre>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="example-card mat-elevation-z8">
  <mat-card-title>
    <code>LazyLoadingModule</code>
  </mat-card-title>
  <mat-card-content>
    <pre>
      <code [innerHtml]='codeModule'></code>
    </pre>
  </mat-card-content>
</mat-card>

<mat-card class="card mat-elevation-z8">
  <mat-card-title>
    <code>Lazy Loading With Module</code>
  </mat-card-title>
  <mat-card-content>
    <pre>
      <code [innerHtml]='codeRoute'></code>
    </pre>
  </mat-card-content>
</mat-card>
