<mat-card class="mat-elevation-z8">
  <mat-card-title><code>Notes</code></mat-card-title>
  <hr>
  <mat-card-content>
    <code>
      <h6>
        - npm install -s mysql <br>
        - Error: 'Router.use() requires a middleware function but got a Object', Answer: module.export = router;
      </h6>
    </code>
  </mat-card-content>
</mat-card>
<hr>
<mat-card class="mat-elevation-z8">
  <mat-card-title><code>Configure AWS</code></mat-card-title>
  <hr>
  <mat-card-content>
    <h6>
      <div class="container">
        <mat-card>
          <mat-card-title><code>DynamoDB AWS Setup</code></mat-card-title>
          <hr>
          <mat-card-content>
            <img src="./../../../assets/images/api_dynamodbSetup.PNG">
          </mat-card-content>
        </mat-card>
      </div>
    </h6>
  </mat-card-content>
</mat-card>
<hr>
<mat-card class="mat-elevation-z8">
  <mat-card-title><code>API Routes & Server Setup with mysql</code></mat-card-title>
  <hr>
  <mat-card-content>
    <h6>
      <div class="container">
        <mat-card>
          <mat-card-title><code>Server.js Setup</code></mat-card-title>
          <hr>
          <img src="./../../../assets/images/api_serverSetup.PNG">
        </mat-card>
      </div>
    </h6>
    <hr>
    <code>
      <h4>API Setup</h4>
    </code>
    <code>
      <h6>
          <div class="container">
            <mat-card>
              <mat-card-title><code>Setup express & Router & mysql</code></mat-card-title>
              <hr>
              <img src="./../../../assets/images/api_setup.PNG">
            </mat-card>
          </div>
          <hr>
          <div class="container">
            <mat-card>
              <mat-card-title><code>Create Connection</code></mat-card-title>
              <hr>
              <img src="./../../../assets/images/api_createConnection.PNG">
            </mat-card>
          </div>
          <hr>
          <div class="container">
            <mat-card>
              <mat-card-title><code>Create Table</code></mat-card-title>
              <hr>
              <img src="./../../../assets/images/api_createTable.PNG">
            </mat-card>
          </div>
          <hr>
          <div class="container">
            <mat-card>
              <mat-card-title><code>Insert Data</code></mat-card-title>
              <hr>
              <img src="./../../../assets/images/api_insertData.PNG">
            </mat-card>
          </div>
          <hr>
          <div class="container">
            <mat-card>
              <mat-card-title><code>Get Data</code></mat-card-title>
              <hr>
              <img src="./../../../assets/images/api_getData.PNG">
            </mat-card>
          </div>
          <hr>
          <div class="container">
            <mat-card>
              <mat-card-title><code>Get Data by ID</code></mat-card-title>
              <hr>
              <img src="./../../../assets/images/api_getDataByID.PNG">
            </mat-card>
          </div>
          <hr>
          <div class="container">
            <mat-card>
              <mat-card-title><code>Update Data by ID</code></mat-card-title>
              <hr>
              <img src="./../../../assets/images/api_updateDataByID.PNG">
            </mat-card>
          </div>
          <hr>
          <div class="container">
            <mat-card>
              <mat-card-title><code>Delete Data by ID</code></mat-card-title>
              <hr>
              <img src="./../../../assets/images/api_deleteDataByID.PNG">
            </mat-card>
          </div>
      </h6>
    </code>
  </mat-card-content>
</mat-card>
<hr>
<mat-card class="mat-elevation-z8">
  <mat-card-title><code>User login & register</code></mat-card-title>
  <hr>
  <mat-card-content>
    <code>
      <h6>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Get username and password</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_getUserNameAndPassword.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Register userName and password</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_registerUserNameAndPassword.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Delete userData by Id</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_deleteUserDataByID.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Export Router</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_exportRouter.PNG">
          </mat-card>
        </div>
      </h6>
    </code>
  </mat-card-content>
</mat-card>
<hr>
<mat-card class="mat-elevation-z8">
  <mat-card-title><code>Api & Server setup with Dynamodb</code></mat-card-title>
  <hr>
  <mat-card-content>
    <code>
      <h6>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Server Setup Dynamodb</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_serverSetupDynamoDB.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Setup AWS, Express, Router, sts DynamoDB</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_setupDynamodb.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Setup Role DynamoDB</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_setupRole.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Assume Role DynamoDB</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_assumeRole.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>Check for Api Routes DynamoDB</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_checkingApiRoutes.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>getData & getDataById Dynamodb</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_getDataDynamo.PNG">
          </mat-card>
        </div>
        <hr>
        <div class="container">
          <mat-card>
            <mat-card-title><code>addData Dynamodb</code></mat-card-title>
            <hr>
            <img src="./../../../assets/images/api_addDataDynamo.PNG">
          </mat-card>
        </div>
      </h6>
    </code>
  </mat-card-content>
</mat-card>
