<mat-card class="mat-elevation-z8">
  <mat-card-title><code>CSS GRID LAYOUT</code></mat-card-title>
  <hr>
    <mat-card-content>
      <code>
        <h6>
          - https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8859652#questions <br>
          - display: grid // initialize grid; <br>
          - grid-template-rows: repeat(2, 150px); // display 2 row with 150px; <br>
          - grid-template-columns: 1fr 3fr 1fr; // display 3 columns and fill three columns without space <br>
          - grid-gap: 30px; // space between boxes;
          <hr>
          <p>short cut div-class</p>
          - .container>.item.item$*8
        </h6>
      </code>
  	</mat-card-content>
</mat-card>
<hr>

<div class="container">
  <div class="header">
    <ul>
      <a>contact</a>
      <a>about</a>
      <a>home</a>
    </ul>
  </div>
  <div class="small-box-1">box 1</div>
  <div class="small-box-2">box 2</div>
  <div class="small-box-3">box 3</div>
  <div class="main-content">main content</div>
  <div class="side-bar">side bar</div>
  <div class="footer">footer</div>
</div>
