<mat-card class="mat-elevation-z8">
  <mat-card-title><code>CSS GRID LAYOUT</code></mat-card-title>
  <hr>
    <mat-card-content>
      <code>
        <h6>
          - https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8859652#questions <br>
          - display: grid // initialize grid; <br>
          - grid-template-rows: repeat(2, 150px); // display 2 row with 150px; <br>
          - grid-template-columns: 1fr 3fr 1fr; // display 3 columns and fill three columns without space <br>
          - grid-gap: 30px; // space between boxes;
          <hr>
          <p>short cut div-class</p>
          - .container>.item.item$*8
          <hr>
          <h5>example</h5>
          <a routerLink="/cssGridExample0">css-grid-0</a> <br>
          <a routerLink="/cssGridExample1">css-grid-1</a>
        </h6>
      </code>
  	</mat-card-content>
</mat-card>
<hr>

