
<!-- Menu drop down example -->
<a mat-button [matMenuTriggerFor]="animals">Animal index</a>

<mat-menu #animals="matMenu">
  <a mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</a>
  <a mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</a>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <a mat-menu-item [matMenuTriggerFor]="fish">Fishes</a>
  <a mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</a>
  <a mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</a>
  <a mat-menu-item>Birds</a>
  <a mat-menu-item>Mammals</a>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <a mat-menu-item>Insects</a>
  <a mat-menu-item>Molluscs</a>
  <a mat-menu-item>Crustaceans</a>
  <a mat-menu-item>Corals</a>
  <a mat-menu-item>Arachnids</a>
  <a mat-menu-item>Velvet worms</a>
  <a mat-menu-item>Horseshoe crabs</a>
</mat-menu>

<mat-menu #fish="matMenu">
  <!-- <a class="nav-link" routerLink="/baikalOilFish">Baikal oil</a> -->
  <a mat-menu-item>Baikal oilfish</a>
  <a mat-menu-item>Bala shark</a>
  <a mat-menu-item>Ballan wrasse</a>
  <a mat-menu-item>Bamboo shark</a>
  <a mat-menu-item>Banded killifish</a>
</mat-menu>

<mat-menu #amphibians="matMenu">
  <a mat-menu-item>Sonoran desert toad</a>
  <a mat-menu-item>Western toad</a>
  <a mat-menu-item>Arroyo toad</a>
  <a mat-menu-item>Yosemite toad</a>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <a mat-menu-item>Banded Day Gecko</a>
  <a mat-menu-item>Banded Gila Monster</a>
  <a mat-menu-item>Black Tree Monitor</a>
  <a mat-menu-item>Blue Spiny Lizard</a>
  <a mat-menu-item disabled>Velociraptor</a>
</mat-menu>
