<h3>How to convert AngularJS to Angular 2</h3>
<hr>
<div class="row">
  <div class="col-5">
    <pre>
      <code>scope: title: '@'</code>
    </pre>
    <hr>
    <pre>
      <code>
        <h5>Original Code</h5>
      </code>
      <h6>RsCarouselControlComponent</h6>
      <code [innerHTML]="rsCarouselControlComponent"></code>
    </pre>
  </div>
  <div class="col-5">
    <pre>
      <code>@input title: string;</code>
    </pre>
    <hr>
    <pre>
      <code>
        <h5>Converted Code</h5>
      </code>
      <h6>RsxCarouselControlComponent</h6>
      <code [innerHTML]="rsxCarouselControlComponent"></code>
    </pre>
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <pre>
      <code>
        <h5>Original Code</h5>
      </code>
      <h6>RsCarouselControlHtml</h6>
      <code> {{rsCarouselControlHtml}}</code>
    </pre>
  </div>
  <div class="col">
    <pre>
      <code>
        <h5>Converted Code</h5>
      </code>
      <h6>RsxCarouselControlHtml</h6>
      <code>{{rsxCarouselControlHtml}}</code>
    </pre>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-5">
    <pre>
      <code>
        <h5>Original Code</h5>
      </code>
      <h6>RsCarouselControlScss</h6>
      <code> {{rsScss}}</code>
    </pre>
  </div>
  <div class="col-5">
    <pre>
      <code>
        <h5>Converted Code</h5>
      </code>
      <h6>RsxCarouselControlScss</h6>
      <code>{{rsxScss}}</code>
    </pre>
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <pre>
      <code>
        <h5>Original Code</h5>
      </code>
      <h6>RsCarouselControlSpec</h6>
      <code> {{rsSpec}}</code>
    </pre>
  </div>
  <div class="col">
    <pre>
      <code>
        <h5>Converted Code</h5>
      </code>
      <h6>RsxCarouselControlSpec</h6>
      <code></code>
    </pre>
  </div>
</div>
<hr>
