$primary: #eb2f64;
$primary-light: #ff3366;
$primary-dark: #ba265d;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;

$color-black: #000;
$color-white: #fff;

$dark-shadow: 0 2rem 6rem rgba($color-black, .3);
$dark-shadow-light: 0 2rem 5rem rgba($color-black, 0.06);

$line: 1px solid #f4f2f2;

$bp-largest: 88em; // 1408/16 = 88em
$bp-large: 77.375em; // 1238/16 
$bp-medium: 75em; // 1200/16

$bp-photo-largest: 83.5em; // 1336/16
$bp-photo-large: 75.375em; // 1206/16