<mat-card class="mat-elevation-z8">
  <mat-card-title>
    <code>Count Pipes</code>
  </mat-card-title>
  <mat-card-content>
    <pre>
      <code>String: {{str}}</code> <br>
      <code>Count: {{str | count}}</code>
      <hr>
      <code>{{countPipe}}</code>
    </pre>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z8">
  <mat-card-title>
    <code>Reverse String Pipes</code>
  </mat-card-title>
  <mat-card-content>
    <pre>
      <code>String: {{str}}</code> <br>
      <code>Reversed String: {{str | reverseString}}</code>
      <hr>
      <code>{{reverseStringPipe}}</code>
    </pre>
  </mat-card-content>
</mat-card>

