h4, h6 {
  color: lightslategrey;
}

.btn {
  background-color: #00adef;
  border-color: #00adef ;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 0%;
  font-size: 18px;
}

.btn:hover {
  background-color: #004a7c;
  border-color: #004a7c;
}


