<mat-card class="mat-elevation-z8">
  <mat-card-title><code>To Do List</code></mat-card-title>
  <mat-card-content>
    <form [formGroup] = "todoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="form-field-width">
          <input matInput placeholder="Tasks" formControlName="tasks"/>
        </mat-form-field>
      </div>
    </form>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="tasks">

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let task">{{task.id}}</td>
        </ng-container>

        <!-- Tasks column -->
        <ng-container matColumnDef="tasks">
          <th mat-header-cell *matHeaderCellDef>Tasks</th>
          <td mat-cell *matCellDef="let task">{{task.tasks}}</td>
        </ng-container>

        <!-- Delete task column -->
        <ng-container matColumnDef="deleteTaskCol">
          <th mat-header-cell *matHeaderCellDef>Delete Task</th>
          <td mat-cell *matCellDef="let task"><button mat-button (click)="deleteTask(task.id)"><mat-icon>clear</mat-icon></button
            ></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- <div *ngFor="let task of tasks">{{task.tasks}}
      <span type="button" (click)="deleteTask(task.id)"><mat-icon>clear</mat-icon></span>
    </div> -->
  </mat-card-content>
</mat-card>
<hr>
<mat-card class="mat-elevation-z8">
  <mat-card-title><code>Notes</code></mat-card-title>
  <hr>
  <mat-card-content>
    <code>
      <h6>
        - <b>nodemon: npm install -s nodemon</b> <br>
        - <b>Get tasks: </b> 'SELECT * from table_name' <br>
        - <b>Create table: </b> 'CREATE TABLE table_name(id int not null auto_increment, tasks varchar(255), primary key(id))'; <br>
        - <b>Add task: </b> 'INSERT INTO table_name(tasks) VALUES(?)'; <br>
        - <b>delete task: </b> `DELETE from table_name WHERE id=req.params.id`
      </h6>
    </code>
  </mat-card-content>
</mat-card>
