.btn {
  // :link is psuedo class, special state of selector 
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 60px;
    transition: all .2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba($color-black, .2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, .2);
  }

  &-white {
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }

  &-white::after {
    background-color: $color-white;
  }
  
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  &-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  } 
}

.btn-text {
  &:link,
  &:visited {
    font-size: calc(#{$default-font-size} + .2rem);
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: .093rem solid $color-primary;
    padding: .3rem;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    transform: translateY(-.2rem);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    transform: translateY(0);
  }
}