.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  opacity: 0;
  visibility: hidden;
  transition: all .2s;

  &__content {
    @include absCenter;
    width: 80%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;

    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
    transition: all .4s .2s;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 1rem 3rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text{
    font-size: 1rem;
    margin-bottom: 2rem;

    column-count: 2;
    column-gap: 2rem; // 1em === 14px, 1rem === 10px;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 1rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}