.header {
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba($color-primary, 0.1), rgba($color-primary-dark, 0.8)), url(/../../../../assets/images/natour/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;

  .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    .logo {
      height: 1.5rem;
    }
    
    &__icon {
      font-size: 15rem;
    }
  }

  .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
  }
}
