.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 3.5rem;
    width: 3.5rem;
    position: fixed;
    top: 8rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;

    box-shadow: 0 1rem 3rem rgba($color-black, .1);

    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 50%;
    position: fixed;

    top: 8.5rem;
    right: 4.5rem;

    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;

    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;

    transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 300;
      padding: .5rem 1rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 230%;
      transition: all .4s;

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // navigation icon
  &__icon {
    position: relative;
    margin-top: 1.7rem;

    &,
    &::before,
    &::after {
      width: 1.7rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after { 
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.5rem; }
    &::after { top: .5rem; }
  }

  // icon is child element of button
  &__button:hover &__icon::before {
    top: -.8rem;
  }

  &__button:hover &__icon::after {
    top: .8rem;
  }

  // when checkbox is selected then select it sibling using + and then select child element of button
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}